body {
  padding: 10px 20px;
  font-family: arial;
  width: auto;
  background-color: rgb(30, 110, 120);
  margin: 15px 10px;
  font-size: 18px;
}

h1 {
  padding: 20px;
  margin: 0px auto;
  font-size: 50px;
  text-align: right;
  font-family: cursive;
  background-color: rgb(211, 211, 211);
  border-radius: 15px;
}

h2 {
  padding: 20px;
  font-size: 40px;
  text-align: center;
  background-color: black;
  color: rgb(211, 211, 211);
  border-radius: 10px;
  margin: 5px;
}

h3 {
  text-decoration: underline;
}

.lesson {
  background-color: rgb(211, 211, 211);
  border-radius: 20px;
  padding: 2px;
  margin: 5px auto;
}

.concept {
  padding: 5px;
}

.concept-title {
  margin: 8px;
  font-size: 30px;
  background-color: rgb(158, 158, 158);
  border-radius: 5px;
  text-align: left;
}

.content {
  margin: -15px 75px;
}

.image {
  text-align: center;
}

.bold {
  font-weight: bold;
}